body {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.hr {
    width: 100%;
}

.main-head-block {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #f8f9fa;
    box-shadow: 2px 2px 6px #c4c4c4;
}

.btn-outline-success {
    color: #f8f9fa;
    border-color: #ffffff;
}

.btn-outline-success:hover {
    color: #ffffff;
    background-color: #ffffff;
    border-color: #198754;
}

.navbar {

    background-color: #00a6ff;
}

.card {
    box-shadow: 2px 2px 4px #dddddd;
}

.card-body {
    background-color: #ffffff;
}

.navbar-brand {
    color: #ffffff;
    font-size: 2rem;

}
.navbar-brand:hover{
    color: white;
}
.index-title {
    text-align: center;
    font-size: 5rem;

}

.form-top {
    text-align: center;
    padding: 8%;
}

.complete {
    opacity: .5;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7F7C82;
    text-align: center;
}