<!DOCTYPE html>
<html lang="en">

<head>
    <nav class="navbar ">
        <div class="container-fluid">
            <a class="navbar-brand">ToDo</a>
            <form class="d-flex">
                {% block navbar %} {% endblock %}
            </form>
        </div>
    </nav>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600;1,800&display=swap"
        rel="stylesheet">
    {% endblock %}

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer" class="font-style-san">
        &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
    </div>
    </body>

</html>