{% extends "base.html" %}
{{ super() }}
{% block navbar%} <a class="btn btn-outline-success" href="{{url_for('register')}}">Register</a> {% endblock%}

{% block content %}

<div class="container">

    <h1>Login</h1>
    <form method="POST" action="{{ url_for('login') }}" novalidate>
        {{ form.csrf_token }}
        <p>
            {{ form.username.label }} <br>{{ form.username(size=20) }}
            {% for err in form.username.errors %}
            <span style="color: red;">{{err}}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br> {{ form.password(size=20) }}
            {% for err in form.password.errors %}
            <span style="color: red;">{{err}}</span>
            {% endfor %}
        </p>
        <input type="Submit" value="Login">
    </form>

</div>

{% endblock %}