{% extends "base.html" %}
{{ super() }}
{% block navbar%} <a class="btn btn-outline-success " href="{{url_for('login')}}">Login</a> {% endblock%}

{% block content %}

<div class="box">

    <h1>Register</h1>
    {% with messages = get_flashed_messages()%}
    {% if messages%}
    {% for message in messages%}
    <p>{{message}}</p>
    {% endfor%}
    {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('register') }}" novalidate>
        {{ form.csrf_token }}
        <p>
            {{ form.name.label }} <br>{{ form.name(size=20) }}
            {% for err in form.name.errors %}
            <span style="color: red;">{{err}}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.username.label }} <br>{{ form.username(size=20) }}
            {% for err in form.username.errors %}
            <span style="color: red;">{{err}}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br> {{ form.password(size=20) }}
            {% for err in form.password.errors %}
            <span style="color: red;">{{err}}</span>
            {% endfor %}
        </p>
        <input type="Submit" value="Login">
    </form>
</div>

{% endblock %}